<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/pacote" method="post">
        <h3>Hoteis disponiveis:</h3>
        <table>
            <tr>
                <th>Nome</th>
                <th>Foto</th>
                <th>Stars</th>
                <th>Preço</th>
                <th>Endereço</th>
                <th>Avaliações TripAdvisor</th>
                <th>Site TripAdvisor</th>
                <th>Selecionar</th>
            </tr>
            
            {% for valor in content %}
                <tr>
                    <td>{{valor['nome']}}</td>
                    <td><img src="{{valor['foto']}}"></td>
                    <td>{{valor['stars']}}</td>
                    <td>{{valor['preco']}}</td>
                    <td>{{valor['endereco']}}</td>
                    <td>{{valor['ranking_site']}}</td>
                    <td><a href="{{valor['url_site']}}">redirecionar para compra</a></td>
                    <td><input type="radio" name="hotel" value="{{valor}}" ></td>
                </tr>
            {% endfor %}
            </tr>
        </table>

        <button type="Submit" value="Submit">clica</button>
    </form>
</body>
</html>
