<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/hospedagem" method="post">
        <h3>Voos de ida:</h3>
        <table>
            <tr>
                <th>Origem</th>
                <th>Destino</th>
                <th>Duração</th>
                <th>Conexão</th>
                <th>Preço</th>
                <th>Selecionar</th>
            </tr>
            
            {% for valor in content['ida'] %}
                <tr>
                    <td>{{valor['origem']}}</td>
                    <td>{{valor['destino']}}</td>
                    <td>{{valor['duracao']}}</td>
                    <td>{{valor['conexao']}}</td>
                    <td>{{valor['preco']}}</td>
                    <td><input type="radio" name="voo_ida" value="{{valor}}" ></td>
                </tr>
            {% endfor %}
            </tr>
        </table>

        <h3>Voos de volta:</h3>
        <table>
            <tr>
                <th>Origem</th>
                <th>Destino</th>
                <th>Duração</th>
                <th>Conexão</th>
                <th>Preço</th>
                <th>Selecionar</th>
            </tr>
            
            {% for valor in content['volta'] %}
                <tr>
                    <td>{{valor['origem']}}</td>
                    <td>{{valor['destino']}}</td>
                    <td>{{valor['duracao']}}</td>
                    <td>{{valor['conexao']}}</td>
                    <td>{{valor['preco']}}</td>
                    <td><input type="radio" name="voo_volta" value="{{valor}}"></td>
                </tr>
            {% endfor %}
            </tr>
        </table>
        <button type="Submit" value="Submit">clica</button>
    </form>
</body>
</html>
